#slidebottom.slide
  %ul
    %li Menu item 1
    %li Menu item 2
    %li Menu item 3
  .inner 
    %button menu button
    %br
    This is supposed to slide over.
    
    .right-aligned
      This would be on the far right.
