// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slide {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffc;
}
.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 6px;
  background-color: #4c5;
  color: #333;
  }


.slide button {
  margin: .7em 0 0 .7em;
}

.right-aligned {
 float: right; 
}
